@import "src/assets/style/Variables";

.ButtonWrapper {
  margin-top: 20px;
  display: flex;
  flex-flow: column;
  gap: 12px;
  @media (min-width: $mobile) {
    flex-flow: row;
  }
}

.Paragraph {
  margin-bottom: 20px;
}

.Subtitle{
  margin-bottom: 12px;
}

.InputWrapper {
  margin-bottom: 12px;
}