@import "src/assets/style/Variables";

.Wrapper {
  display: flex;
  flex-flow: column;
  padding-top: 24px;

  @media (min-width: $mobile) {
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
  }
}

.ButtonWrapper {
  display: flex;
  flex-flow: column;
  gap: 12px;
  @media (min-width: $mobile) {
    flex-flow: row;
  }
}

.TextWrapper {
  margin-bottom: 20px;

  @media (min-width: $mobile) {
    margin-bottom: 0;
  }

  h3{
    margin-bottom: 8px;
  }
}

.Title {
  background: $red;
  position: absolute;
  top: 8px;
  left: -12px;
  padding: 4px 16px 4px 32px;
}

.Title:after, .Title:before {
  content: '';
  display: block;
  position: absolute;
}

.Title:after {
  border: 18px solid $red;
  border-right-color: transparent;
  top: 0;
  right: -24px;
}

.Title:before {
  border: 5px solid $dark-red;
  border-left-color: transparent;
  border-bottom-color: transparent;
  top: 36px;
  left: 0;
}
