@import "src/assets/style/Variables";

.Button {
  width: 100%;
  background: $green;
  color: $yellow;
  border: 0;
  height: 44px;
  border-radius: 4px;
  padding: 0 12px;
  font-family: 'Lobster', cursive;
  font-size: 24px;
  line-height: 44px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;

  @media (min-width: $mobile ) {
    width: auto;
  }
  
  &:hover {
    background: $dark-green;
  }
}

.ButtonFixed {
    width: auto;
}

.ButtonRed {
  background: $red;

  &:hover {
    background: $dark-red;
  }
}