@import "src/assets/style/Colors";
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');

.InputWrapper {
  margin-right: 16px;
}

.MoreWishList {
  display: flex;
  width: 100%;
}