@import "src/assets/style/Variables";
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');

.MoreWishList {
  display: flex;
  width: 100%;
  margin-top: 16px;
}

.InputWrapper {
  width: 100%;
  margin-right: 12px;
}


